# Ejercicio Pandas

In [136]:
import pandas as pd 

letras =  [chr(i) for i in range(ord('a'),ord('z')+1)]
numeros = range(10,36)
A = pd.Series(data=numeros, index=letras)
A

a    10
b    11
c    12
d    13
e    14
f    15
g    16
h    17
i    18
j    19
k    20
l    21
m    22
n    23
o    24
p    25
q    26
r    27
s    28
t    29
u    30
v    31
w    32
x    33
y    34
z    35
dtype: int64

In [5]:
A['a']

10

In [137]:
letras.sort(reverse=True)
B = pd.Series(data=letras, index = numeros)
B

10    z
11    y
12    x
13    w
14    v
15    u
16    t
17    s
18    r
19    q
20    p
21    o
22    n
23    m
24    l
25    k
26    j
27    i
28    h
29    g
30    f
31    e
32    d
33    c
34    b
35    a
dtype: object

In [138]:
A.loc['d':'i']

d    13
e    14
f    15
g    16
h    17
i    18
dtype: int64

In [139]:
valores_rango = B[(B >= 'd') & (B <= 'i')]
valores_rango

27    i
28    h
29    g
30    f
31    e
32    d
dtype: object